{%- macro person_endorsements(person_id, endorsements, html=true) -%}
  {%- for endorsement in endorsements -%}
    {%- if endorsement.type == "Kyc" -%}
      {%- set a = endorsement.attrs -%}

      {% if a.name or a.last_name %} {{ a.name }} {{ a.last_name }} {% else %} Usuario pseudónimo {% endif %}
      {%- if a.birthdate -%}
        {% if a.name or a.last_name %} del {% else %} Nacido el {% endif %}
        {{- a.birthdate | date(format="%d-%m-%Y") -}}
      {%- endif -%}
      {%- if a.name or a.last_name or a.birthdate -%}, {% endif %}

      {{- a.id_type }} {{ a.id_number -}}
      {%- if a.id_type or a.id_number %}, {% endif %}

      {%- if a.nationality -%} {{ a.nationality }}, {% endif %}
      {%- if a.country -%} residente en {{ a.country }}, {% endif %}
      {{- a.job_title -}}
      {%- if a.legal_entity_name -%}
        {% if a.job_title %} en {% else %} de parte de {% endif %}
        {{- a.legal_entity_name }}
        {%- if a.legal_entity_country %}, empresa {{ a.legal_entity_country }} {%- endif -%}
        {%- if a.legal_entity_registration -%}, registro {{ a.legal_entity_registration }} {%-endif -%}
        {%- if a.legal_entity_tax_id %}, id. tributaria {{ a.legal_entity_tax_id }} {%- endif -%}
      {%- endif -%}.
    {%- endif -%}
    {% if endorsement.type == "EmailAddress" and not endorsement.keep_private %}
      Correo electrónico {% if html %}<a href="mailto:{{endorsement.address}}">{{endorsement.address}}</a>{% else %}{{endorsement.address}}{% endif %}.
    {%- endif -%}
    {% if endorsement.type == "Website" %}
      Administrador de la web {% if html %}<a target="_blank" href="{{endorsement.url}}">{{- endorsement.url -}}</a>{% else %}{{endorsement.url}}{% endif %}.
    {%- endif -%}
    {% if endorsement.type == "Telegram" %}
      {%- set a = endorsement.attrs -%}
      Usuario de Telegram {{ a.first_name }} {{ a.username }} {{ a.last_name }} (#{{ a.id }})
    {%- endif -%}
  {% endfor %}
  Usuario de Constata #{{ person_id }}.
{%- endmacro person_endorsements -%}
