.main {
  .container {
    padding: 2em;
  }

  h1 {
    font-size: calc(1.625rem + 4vw);
  }

  h2 {
    font-size: calc(1.425rem + 2vw);
  }

  h3 {
    font-size: calc(1.3rem + 0.6vw);
  }

  h4 {
    font-size: calc(1.2rem + 0.5vw);
    color: #333;
  }

  p {
    line-height: 1.6;
    &.warning-text {
      font-family: "Manrope", sans-serif;
      font-weight: bold;
    }

    strong, a {
      text-transform: uppercase;
      font-size: 0.8em;
      letter-spacing: 0;
    }

    a {
      font-weight: bold;
      color: $bright-blue;
      text-decoration: underline;
    }

    em {
      white-space: nowrap;
    }

  }

  ol {
    margin: 1em 0 2em 0;
    padding: 0;
    list-style: decimal;
    list-style-position: inside;
    font-family: "Manrope", sans-serif;
    font-weight: bolder;
    font-size: 2em;

    li {
      margin: 0.5em 0;

      a {
        font-weight: normal;
        font-size: 1.2rem;
        color: $bright-blue;
        text-decoration: underline;
      }
    }
  }

  .sub-title {
    margin: 0 0 3em 0;
    color: #888;
    text-transform: uppercase;
    font-weight: 500;
  }

  .lead-text {
    font-size: 1.1em;
    font-family: "Manrope";
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #888;
  }

  .in-columns {
    column-count: 2;
    column-gap: 4em;
    column-rule: 1px solid #eee;
    margin: 2em 0 4em 0;


    p, .terminal {
      margin: 0 0 1em 0;
      break-inside: avoid-column;
      page-break-inside: avoid;
    }
  }

  .card {
    padding: 2em;
    box-shadow: 4px 3px 0px 3px $bright-blue;
    border-radius: 0.9375rem;
    border-width: "2px";
    border-style: solid;
    border-color: $dark-blue;
  }

  @media (max-width: 768px) {
    .in-columns {
      column-count: 1;
    }
  }
}

