{% import "proofs/_macros.html" as macros %}
{% import "proofs/en/_macros.html" as macros_en %}

<!DOCTYPE html>
<html lang="en">

<!--

Hi!

I'm a constata developer and I want to help you understand how to validate this timestamp.

This text you're reading is the "source code" of the certificate.
It's like looking under the hood of a car.
Don't be scared by symbols like "<" or ">", try to keep reading.
If you get lost anywhere, or you need help, you can ask 
any geek friend, or contact me by all the means listed at https://constata.eu

This timpestamp certificate contains one or more "Documents" encoded in the "base64" standard.
You can find these documents starting somewhere around lines 250~300.

Each "Document" has a unique "fingerprint" that's calculated using the sha256sum function.
The "Fingerprint" is unique, but it does not reveal any private information about the "Document" itself.

Constata groups the fingerprints of several "Documents" and builds a "Bulletin"
that contains them, then, it calculates the "Bulletin's" fingerprint, and publishes it 
in an immutable database known as Bitcoin's Blockchain. You can find the full "Bulletin"
right after all the "documents".

If the digital fingerprint of a "Document" is included in a "Bulletin",
and the "Bulletin's" fingerprint is published since a given date in the Bitcoin Blockchain,
we can say the "Document" existed at any point before that date, and the timestamp is valid.
-->
<head>
<!-- This next very long line is just cosmetic information, you can ignore it. -->
<style>{% include "proofs/style.css" %}</style> 

<script>
  async function constataValidation(){
    /*
    This timestamp certificate can contain several documents,
    comprised by one or more parts each.
    Each document may have a different date, that means they could have been
    included in different bulletins. All the bulletins involved are included here.

    The contents of these "Bulletins" and "Documents" are encoded into this certificate.
    
    The first step is to validate that all the bulletins in this certificate are backed
    by Bitcoin's blockchain.

    To do that, we find the digital fingerprint for each bulletin in any of the public
    blockchain copies that are freely available on the internet, called block explorers.

    This proces may fail if the user does not have an internet connection, or if most
    of the public copies become unavailable.
    
    If we can verify the presence of this bulletin in at least 2 copies of the bitcoin
    blockchain, we can assert it's valid, and we fetch the date in which it was registered
    so we can show it in this certificate.
    */

    const bulletins = document.querySelectorAll('.bulletin');
    const public_blockchain_copies = {{ explorers | json_encode(pretty = true) | safe }};
    let bulletin_dates = {};

    for( bulletin of bulletins ) {
      const bulletin_id = bulletin.dataset.bulletinId;

      const bulletin_fingerprint = await sha256sum( (new TextEncoder()).encode(bulletin.innerHTML) );
      const blockchain_transaction_id = bulletin.dataset.transactionHash;

      let blockchain_responses = [];

      for (url of public_blockchain_copies) {
        await writeLoadingDetails(
          '⛓️',
          'Querying Blockchain<div class="loader"><div class="loader-bar"></div></div>',
          `Verifying bulletin #${bulletin_id} is present in the blockchain available at <a href="${url}">${url}</a>`,
          1000
        );

        try {
          const response = await fetch(url+blockchain_transaction_id);
          if(response.ok){
            let json = await response.json();
            blockchain_responses.push({
              fingerprint: json.output?.[0].script_pubkey || json.vout[0].scriptpubkey || json.vout[0].scriptPubKey.hex,
              time: json.blocktime || json.status.block_time 
            });
            if (blockchain_responses.length > 1) {
              break
            }
          }
        } catch { }
      }

      if (blockchain_responses.length < 2) {
        return showBlockchainTemporarilyUnavailableMessage();
      }

      let bulletin_found_count = 0;

      for (response of blockchain_responses) {
        if(response.fingerprint.includes(bulletin_fingerprint)){
          bulletin_found_count += 1;
        }
      }

      if(bulletin_found_count < 2) {
        return showCorruptCertificateMessage();
      }

      bulletin_dates[bulletin_id] = new Date(blockchain_responses[0].time * 1000)
        .toLocaleString(undefined, { dateStyle: "medium", timeStyle: "long" });

      document.querySelectorAll(`.timestamp-${bulletin_id}`)
        .forEach(el => el.innerHTML = bulletin_dates[bulletin_id]);
    }

    /*
    If all the bulletins are valid, then we only have to verify the fingerprints of each document
    are contained in the corresponding certificate, which is included here.
    
    This process may fail because the certificate could be altered in any way by the user.
    (with ill-intention, or by accident clicking "save as" instead of downloading it from constata)
    */

    const documents = document.querySelectorAll('.document');
    
    for( doc of documents ) {
      const bulletin = document.getElementById(`bulletin_${doc.dataset.bulletinId}`);
      const document_parts = doc.querySelectorAll('.document-part');
      await writeLoadingDetails(
        '🔎',
        'Verifying document integrity<div class="loader"><div class="loader-bar"></div></div>',
        `Looking for document ${doc.dataset.documentId} in verified bulletin #${doc.dataset.bulletinId}.`,
        500
      );

      for (part of document_parts) {
        /*
        The contents of each file that forms a document
        is embedded in this certificate encoded as BASE64
        */
        const payload = base64ToBytes(part.querySelector(".payload").innerHTML);

        /* This is how we make sure this document's part fingerprint is in the bulletin */
        const part_fingerprint = await sha256sum(payload);

        if( !bulletin.innerHTML.includes(part_fingerprint) ){
          return showCorruptCertificateMessage();
        }

        /* Then, if this part has digital signatures, we validate them too, and their timestamp */
        const signature_elements = part.querySelectorAll('.digital-signature');

        for (element of signature_elements) {
          const signature = base64ToBytes(element.dataset.signature);
          const signer = element.dataset.signer;

          if(!bitcoinMessage.verify(payload, signer, signature)) {
            return showCorruptCertificateMessage();
          }

          const signature_fingerprint = await sha256sum(signature);
          const signature_bulletin = document.getElementById(`bulletin_${element.dataset.bulletinId}`);

          if(!signature_bulletin.innerHTML.includes(signature_fingerprint) ) {
            return showCorruptCertificateMessage();
          }
        }
      }   
    }
    await sleep(2000);

    return true;
  }

  window.onload = async function(){
    if(await ensure_running_on_secure_environment()){
      showValidationInstructions();
      if(isSecureOrigin()) {
        populateDatesFromSecureOriginInsteadOfBlockchains();
        generatePreviews();
        await writeLoadingDetails(
          "🔒",
          "Document Verified",
          "Displayed from a secure origin."
        );
        document.getElementById("loader_overlay").style.display = "none";
      } else if(await constataValidation()){
        generatePreviews();
        await writeLoadingDetails(
          "⚠️",
          "Only local verification",
          "Verification was successful, but we suggest you also make the quick web verification. <br/>See instructions at the document's footer.",
          8000
        );
        document.getElementById("loader_overlay").style.display = "none";
      }
    }
  }
</script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Constata.eu timestamp certificate</title>
</head>

<body>
<div id="loader_overlay" >
  <div id="main_loading" class="hidden loader"></div>
  <div id="loader_detail">
    <div id="loader_detail_icon">⚠️</div>
    <div id="loader_detail_title">
      Incompatible environment
    </div>
    <div id="loader_detail_text">
      In order to validate this certificate
      <a href="{{ secure_origin }}/safe">
        please go to our 
        safe environment.
      </a>.
      You can also visualize it from another like a tablet, phone or computer.
    </div>
  </div>
  <div class="message-wrapper">
    <div id="message" class="hidden"></div>
  </div>
</div>

<div id="mobile_warning" class="hidden">
  This certificate will work better in your computer.
</div>

<div class="wrapper">
<div class="watermark">
  <span>Certified by</span> {{ macros::constata_svg_logo(color_one="BBBBBB", color_two="BBBBBB") }}
</div>

<!--
In this part of the certificate we store all the "Documents" and their "Bulletins".
It's one of the longest parts of the certificate.
This data uses the algorithm that we've explained before.
-->
{%- set doc_count = documents | length -%}
{%- set bulletin_count = bulletins | length -%}
{%- set bulletin_ids = bulletins | map(attribute="object") | map(attribute="id") | sort -%}

{%- if doc_count > 1 -%}
<div class="many-docs-notice">
  Contains <strong>{{ doc_count }} documents</strong>
  <span class="hide-if-unverified">
    registered
    {% if bulletin_count > 1 %}
      between <strong class="timestamp-{{ bulletin_ids | first }}">{loading date}</strong>
      and <strong class="timestamp-{{ bulletin_ids | last }}">{loading date}</strong>.
    {% else %}
      on <strong class="timestamp-{{ bulletin_ids | first }}">{loading date}</strong>.
    {% endif %}
  </span>
</div>
{%- endif -%}

{% for doc in documents %}
  {%- set doc_index = loop.index0 -%}

  <div class="document" id="document_{{ loop.index0 }}" data-document-id="{{doc.id}}" data-bulletin-id="{{ doc.bulletin_id }}">
    {%- if doc_count > 1 %}
      <h3 class="document-header">Document {{ loop.index }} of {{ doc_count }}</h3>
    {%- endif -%}

    <div class="previews"></div>

    {%- set part_count = doc.parts | length -%}

    {%- set base_part = doc.parts.0.object -%}
    {%- set size_in_mb = (base_part.size_in_bytes / 1024 / 1024) | round(method="ceil", precision=2) -%}
    {% if part_count > 1 %}
      <div class="document-index meta-section">
        <p>
          {% if base_part.content_type == "application/zip" %}
            This document is a <strong>zip</strong> file
            named <strong>{{ base_part.friendly_name }}</strong>
            that weighs <strong>{{ size_in_mb }} MB</strong> and whose contents you can extract and inspect next.
          {% elif base_part.content_type == "message/rfc822" %}
            This document is an email with subject <strong>{{ base_part.friendly_name }}</strong>,
            that occupies a total of <strong>{{ size_in_mb }} MB</strong>, and whose contents you can save next.
          {% else %}
            Parts index, you can save them next.
          {% endif %}
        </p>
        {% for part in doc.parts %}
          <div class="field field-{{ loop.index0 }}" >
            <strong>
              {% if part.object.is_base %}
                Full document:
              {% else %}
                Part {{ loop.index0 }}:
              {% endif %}
            </strong>
            <a href="#" class="link-save" onclick="extractDocumentPart({{ doc_index }}, {{ loop.index0 }})">
              {{ part.object.friendly_name }} 
            </a>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="document-index meta-section">
        <p>
          This document is a <strong>{{ base_part.content_type }}</strong> file
          called <strong>{{ base_part.friendly_name }}</strong>
          that weighs <strong>{{ size_in_mb }} MB</strong>
          that you can
          <a href="#" class="link-save" onclick="extractDocumentPart({{ doc_index }}, 0)">
            save here
          </a>
        </p>
      </div>
    {% endif %}
    
    {% for part in doc.parts %}
      <div
        id="document_part_{{doc_index}}_{{ loop.index0 }}"
        class="document-part"
        data-content-type="{{ part.object.content_type }}"
        data-hash="{{ part.object.hash }}"
        data-friendly-name="{{ part.object.friendly_name }}"
      >
        <div class="payload hidden">{{ part.contents }}</div> 

        {% if part.object.is_base %}
          <div class="signature hide-if-unverified">
            <div class="field">
              <b>Certification date on Bitcoin's blockchain:</b>
              <span class="timestamp-{{ doc.bulletin_id }}"><i>{loading date}</i></span>.
            </div>
          </div>
        {% endif %}

        {% for signature in part.object.signatures %}
          {% if persons_missing_kyc is containing(signature.person_id) %}
            <div class="not-verified">
              <strong>UNVERIFIED IDENTITY:</strong> The signer's legal identity has not been verified by CONSTATA.
            </div>
          {% endif %}
          <div class="signature digital-signature" data-signature="{{signature.signature}}" data-signer="{{signature.pubkey_id}}" data-bulletin-id="{{ signature.bulletin_id }}" >
            <div class="field">
              <b>Digitally signed by:</b>
              {{ macros_en::person_endorsements(person_id=signature.person_id, endorsements=endorsements[signature.person_id]) }}
            </div>
            <div class="field hide-if-unverified">
              <b>Signed on:</b>
              <span class="timestamp-{{ signature.bulletin_id }}">{loading date }</span>
            </div>
            <div class="field">
              <b>Signature:</b>
              {{ signature.signature }}
            </div>
            <div class="field">
              <b>Public key:</b>
              {{ signature.pubkey_id }}
            </div>
          </div>
        {% endfor %}

        {% set signers = part.object.signatures | map(attribute="person_id") %}
        {% if part.object.is_base and signers is not containing(doc.author_id) %}
          <div class="signature">
            <div class="field">
              <b>Sent to Constata for certification by:</b>
              {{ macros_en::person_endorsements(person_id=doc.author_id, endorsements = endorsements[doc.author_id]) }}
            </div>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endfor %}

{% for bulletin in bulletins %}
  <div id="bulletin_{{bulletin.object.id}}" class="bulletin hidden" data-bulletin-id="{{bulletin.object.id}}" data-bulletin-date="{{ bulletin.object.block_time }}" data-bulletin-hash="{{bulletin.object.hash}}" data-transaction-hash="{{ bulletin.object.transaction_hash }}">{{ bulletin.contents }}</div>
{% endfor %}

{% if public_certificate_url %}
  <div class="hidden" id="public_certificate_url" data-url="{{public_certificate_url.0}}">{{public_certificate_url.1}}</div>
{% endif %}

<div id="print_dialog_template" class="hidden">
  <button>🖨️ Print</button>
  <p>
    This part of the document may be printed in A4 paper, with no margins.
    <br/>
    You will have to remove the margins in the print preview.
  </p>
</div>

<div class="footer">
  {{ macros::constata_svg_logo() }}
  <p>
    This is a timestamp certificate with legal and technical validity,
    it's backed by the existence of specific data that can only be generated
    from the contained documents, and that was written with certain date in a public, immutable, distributed
    database known as Bitcoin's blockchain.
  </p>
  <p>
    The certificate is this very file that you've downloaded or received. You can re send it
    to third parties by any means available to you, and the may validate it independently.
  </p>

  <div id="validation_in_verifier" class="hidden">
    <h2>Quick web verification</h2>
    <ol>
      <li>Visit <a target="_blank" href="{{ secure_origin }}/safe">{{ secure_origin }}/safe</a>.</li>
      <li>Select this HTML file.</li>
      <li>Our web will analize the certificate locally in this device, and will show it to you again only if it's valid.</li>
    </ol>
  </div>
  <div id="validation_not_needed" class="hidden">
    <h2>🔒Trusted origin</h2>
    <p>You're seeing this document in <strong>{{secure_origin}}</strong> which is a trusted origin, it's been verified before showing it to you.</p>
    <p>Visit <a href="{{ secure_origin }}">{{secure_origin}}</a> to learn more about the guarantees it offers.</p>
  </div>

  <h2 id="independent_validation">⛓️ Independent verification in Bitcoin Blockchain</h2>
  <p>
    In case Constata's web validation is not available, or the company's endorsement was not enough, you can
    access a detailed audit of this certificate <a id="expand_audit_log" onclick="expandAuditLog()" href="#independent_validation">clicking here</a>.
  </p>
</div>
</div><!-- /.wrapper -->

<div id="audit_log">
  <div class="wrapper">
    <h2>Certificate Audit</h2>
    <p>
      We describe the process and technologies involved in the issuance and validation of this certificate
      Terminology is available in the <a href="#glosario">Glossary</a> at the bottom.
    </p>
    <p>
      To leave evidence that the documents contained in this certificate existed before a certain date
      <b>CONSTATA</b> produced files, called <b>BULLETINS</b>,
      that contain the <b>HASHES</b> of each <b>PART</b> of a <b>DOCUMENT</b> contained in this <b>CERTIFICATE</b>,
      and the <b>HASHES</b> of the <b>DIGITAL SIGNATURES</b> applied to some of thos <b>PARTS</b>.
    </p>
    <p>
      Then, we left proof of the <b>HASH> of each <b>BULLETIN</b> in separate <b>BITCOIN TRANSACTIONS</b>
      that were written in the <b>BITCOIN BLOCKCHAIN</b> distributed database on a date referred to as <b>BLOCK DATE</b>
    </p>
    <p>
      We can establish then that <b>DOCUMENTS</b>, and <b>DIGITAL SIGNATURES</b> applied to them, existed at the time
      <b>BLOCK DATE</b> of the <b>BULLETIN</b> associated with them.
    </p>
    <p>
      You can validate that the <b>DIGITAL SIGNATURES</b> applied to <b>DOCUMENTS</b> are correct independently,
      but the link between those signatures and actual persons and companies is only endorsed by <b>CONSTATA's</b> signature
      that was applied to this file as a whole.
    </p>
    <p>
      Unlike timestamps, validating signatures requires you acquire a copy of constata's public key from a trusted source.
      Constata's website is one such way. If you are unsure about Constata's public key, then you cannot be sure about who
      signed this document, and who's endorsing the signer identities.
    </p>
    <p>

    <div class="section-1">
      <h3>Javascript validation</h3>
      <p>
        This file contains the timestamp and digital signature validation routines implemented in the Javascript language,
        you can find it in this file's <a href="#" onclick="openSource()">source code</a>.
        When you opened your web browser, this routine was executed, and several public copies of the Bitcoin blockchain
        were queried in search for bulletin fingerprints.
      </p>
      <p>
        The process was successful, otherwise, this certificate would have shown an error message.
      </p>
    </div>

    <div class="section-1">
      <h3>Manual timestamp validation, step by step</h3>
      <p>
        If you're not familiar with Javascript, or if you rather perform the validation manually, this are the steps to follow.
        This steps are to be reproduced in a command prompt on any Linux, MacOS or compatible operative system.
      </p>
  
      <h4>Validate Bulletins</h4>
      <p>
        With this process, we validate that the <b>BULLETINS</b> were published on the <b>BITCOIN BLOCKCHAIN</b>
        at the matching date.
        This way we can know that the <b>DOCUMENTS</b> referred to existed at that date.
      </p>

      {% for bulletin in bulletins %}
        <div class="section-2" id="validate_bulletin_instructions_{{bulletin.object.id}}"> 
          <h4>Validate BULLETIN #{{bulletin.object.id}}</h4>
          <ol>
            <li>
              <a href="#!" onclick="download_bulletin('bulletin', `{{bulletin.object.id}}`)">Save <b>BULLETIN</b> #{{bulletin.object.id}}</a> locally.
            </li>
            <li>
              <p>
                Calculate its <b>HASH</b>.
              </p>
              <pre class="simil-terminal">
                <code>$ shasum -a 256 /path/to/<span class="bulletin-filename">bulletin_{{bulletin.object.id}}.txt</span></code>
                <code class="break-word bulletin-hash">{{bulletin.object.hash}}</code>
              </pre>
            </li>
            <li>
              <p>
                Query the <b>BITCOIN TRANSACTION</b> to find the <b>BULLETIN</b> <b>HASH</b>.
                Its transaction id is <span class="break-word">{{ bulletin.object.transaction_hash }}</span>.
              </p>
              <div class="section-3">
                <h4>At Blockchain.com</h4>
                <ol>
                  <li>
                    <input type="checkbox"/>
                    Visit
                    <a href="https://www.blockchain.com/btc/tx/{{ bulletin.object.transaction_hash }}" target="_blank">the transaction page</a>.
                  </li> 
                  <li>
                    <input type="checkbox"/>
                    Check the "Pkscript" setion to validate it contains the <b>HASH</b>: <span class="bulletin-hash break-word">{{bulletin.object.hash}}</span>
                  </li>
                  <li>
                    <input type="checkbox"/> Check the field <i>Timestamp</i> shows the date
                    <span>{{bulletin.object.block_time | date(format="%d-%B-%Y %H:%M")}}HS</span>.
                    (beware of timezones).
                  </li>
                </ol>
              </div>
              <div class="section-3">
                <h4>At Mempool.space</h4>
                <ol>
                  <li>
                    <input type="checkbox"/>
                    Visit
                    <a href="https://mempool.space/tx/{{ bulletin.object.transaction_hash }}" target="_blank">the transaction page</a>.
                  </li>
                  <li><input type="checkbox"/> Expand the "Details" section.</li>
                  <li><input type="checkbox"/> Validate it contains the <b>HASH</b>: <span class="bulletin-hash break-word">{{bulletin.object.hash}}</span></li>
                  <li>
                    <input type="checkbox"/>
                    Review the field <i>Timestamp</b> shows the date
                    <span>{{bulletin.object.block_time | date(format="%d-%B-%Y %H:%M")}}HS</span>.
                  </li>
                </ol>
              </div>
              <div class="section-3">
                <h4>At Blockstream.com</h4>
                <ol>
                  <li>
                    <input type="checkbox"/>
                    Visit
                    <a href="https://blockstream.info/tx/{{ bulletin.object.transaction_hash }}" target="_blank">the transaction page</a>
                  </li>
                  <li><input type="checkbox"/> Expand the "Details" section.</li>
                  <li><input type="checkbox"/> Validate it contains the <b>HASH</b>: <span class="bulletin-hash break-word">{{bulletin.object.hash}}</span></li>
                  <li><input type="checkbox"/> See the <i>Timestamp</i> shows the date <span>{{bulletin.object.block_time | date(format="%d-%B-%Y %H:%M")}}HS</span>.</li>
                </ol>
              </div>
            </li>
          </ol>
        </div>
      {% endfor %}

      <br/>
      <br/>
      <h3>DOCUMENT validation</h3>
      <p>
        With this process we validate all the <b>DOCUMENTS</b> are being referenced by one of
        the included <b>BULLETINS</b> we just validated, and therefore, existed
        in the date specified by the matching <b>BULLETIN</b>.
      </p>
      {% for doc in documents %}
        {% set part_count = doc.parts | length %}
        {% set doc_index = loop.index0 %}

        <div class="section-2" id="validate_document_{{doc.id}}">
          <h3>Validate DOCUMENT #{{ doc_index + 1 }}</h3>
          <p>
            This document is composed of {{part_count}} {{ part_count | pluralize(singular="single part", plural="parts") }}, 
            was included in BULLETIN #{{ doc.bulletin_id }},
            with date <span class="timestamp-{{ doc.bulletin_id }}">{loading date}</span>
          </p>

          {% for part in doc.parts %}
            <div class="section-3" id="validate_document_{{ doc_index }}_part_{{ loop.index0 }}">
              <ol>
                <li>
                  Save the part <i>"{{ part.object.friendly_name }}"</i>
                  <a href="#!" onclick="extractDocumentPart({{ doc_index }}, {{ loop.index0 }})">
                    locally.
                  </a>
                </li>
                <li>
                  <p>
                    Calculate its <b>HASH</b>.
                  </p>
                  <pre class="simil-terminal">
                    <code>$ shasum -a 256 /path/to/<span>{{ doc_index + 1}}_{{ part.object.friendly_name }}</span></code>
                    <code class="part-hash">{{ part.object.hash }}</code>
                  </pre>
                </li>
                <li>
                  <p>
                    Find this part's HASH in BULLETIN {{ doc.bulletin_id }} you saved previously,
                    if the 'grep' command returns '1' it means the HASH is present there.
                  </p>

                  <pre class="simil-terminal">
                    <code>$ grep --count {{ part.object.hash }} /path/to/<span class="">boletin_{{ doc.bulletin_id }}.txt</span></code>
                    <code class="part-hash">1</code>
                  </pre>
                </li>
              </ol>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
      <br/>
      <br/>
      {% include "proofs/en/_definitions.html" %}
    </div>
  </div><!-- /.wrapper -->
</div>

<script type="text/javascript">
  function isSecureEnvironment(){
    const l = window.location;
    if(l.protocol === "file:" || l.protocol == "content:" || isSecureOrigin()){
      return true;
    }
  }

  function isSecureOrigin() {
    return window.location.origin === "{{ secure_origin }}";
  }

  function showCorruptCertificateMessage() {
    showErrorMessage(`
      <h1>⚠ INVALID CERTIFICATE</h1>
      <h2>The certificate is corrupted.</h2>
      <p>
        This may mean that this timestamp certificate was maliciously modified.
        To know more, contact us at <a href="https://constata.eu">Constata.eu</a> or check with a prfessional computer systems expert.
        The validation mechanism is included in this very certificate.
      </p>
    `);
  }

  function showBlockchainTemporarilyUnavailableMessage() {
    showErrorMessage(`
      <h1>⚠ Beware, the certificate could not be verified.</h1>
      <p>
        This may be due to a temporary issue with your connection or internet provider.
      </p>
      <p>
        Or it could be your corporate network policies restrict access to our verification points.
      </p>
      <p>
        <button onclick="dismissErrorMessage()">Display without verifying</button>
      </p>
      <p>
        Verification is important when you need to trust the content being displayed. We suggest you try it from another device or internet connection.
      </p>
      <p>
        If still can't verify this certificate and you need help, please contact us at
        <a href="https://constata.eu">Constata.eu</a>
        or you can call in any professional computer systems expert. 
        The validation mechanism is included in this very certificate.
      </p>
    `);
  }

  async function ensure_running_on_secure_environment(){
    if(!isSecureEnvironment()) {
      showErrorMessage("This certificate cannot be displayed in this website. You must download it and validate it on Constata's website.<br/><br/>We started the download automatically.");
      const response = await fetch(document.location.href);
      const blob = await response.blob();
      save_locally(blob, 'constata_certificate.html');
      return false;
    }
    return true;
  }

  /*
  These are auxiliary functions invoked by the main validation algorithm.
  Third party functions are included with their corresponding licenses.
  */
  {% include "proofs/_utils.js.html" %}
</script>
</body>
</html>

