{% extends "emails/in_layout/_layout.html" %}
{% import "emails/en/_macros.html" as macros %}

{% block main %}
  We're writing you because you requested to use this email address.
  <br/><br/>
  In order to do that, we need you confirm you have received this email.
  <br/><br/>
  <a style="padding: 10px; margin: 15px 0; background: #1059CE; color: #fafafa; text-decoration: none; font-weight: bold; text-transform: uppercase; font-size: 12px;" target="_blank" href="{{url_to_verify_email | safe }}">Confirm email</a>
  <br/><br/>
  {{ macros::accept_tyc(url_to_tyc = url_to_tyc) }}
{% endblock main %}

{% block footer %}
  {% include "emails/en/_footer_outgoing.html" %}
{% endblock footer %}
