<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Constata.eu{% endblock title %}</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    {% block head %}
    {% endblock head %}
    <meta property="og:site_name" content="Constata EU" />
    <meta property="og:image" content="https://constata.site/wp-content/uploads/2022/04/Logo-denim.svg" />
  </head>
  <body class="bg-white text-light">
    <div class="navbar-section bg-light sticky-top">
      <nav class="navbar navbar-expand-md navbar-light">
        <div class="d-flex container flex-wrap">
          <div class="navbar-brand m-auto">
            <a href="https://constata.site" target="_blank" rel="noreferrer">
              <img class="logo-mobile" src="https://constata.site/wp-content/uploads/2022/04/Logo-denim.svg"/>
            </a>
          </div>
          <div class="d-flex pr-1 ml-auto justify-content-end">
            <button class="navbar-toggler for-login d-block d-md-none" type="button" data-toggle="collapse" data-target="#main_navbar" aria-controls="main_navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <button class="navbar-toggler for-logout d-none d-md-none" type="button" data-toggle="collapse" data-target="#main_navbar" aria-controls="main_navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-close close">X</span>
          </div>
          <div class="collapse navbar-collapse py-1 order-lg-3 d-lg-flex justify-content-end" id="main_navbar">
            <div class="ml-4">
              <ul class="navbar-nav ml-auto d-flex align-items-md-center" data-toggle="collapse" data-target=".navbar-collapse">
                <li class="nav-item mb-0">
                  <a class="nav-link" href="mailto:soporte@constata.eu">❔</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        {% block navbar %}
        {% endblock navbar %}
      </nav>
    </div>

    {% block body %}
      <div class="header bg-blue text-light">
        <div class="container py-7 py-md-7 intro-text">
          <h2 class="mb-3">Cargando / Loading </h2>
        </div>
      </div>
    {% endblock body %}

  </body>
</html>
