{% extends "public_api/_layout.html.tera" %}

{% block body %}
  <div class="header py-7 py-md-7 px-3 my-2 bg-white text-dark container container-constata">
    <div class="container py-3 py-md-3">
        <h2 class="mb-3">
          {%- block __cannot_delete_title -%}{%- endblock __cannot_delete_title -%}
        </h2>
        <p><strong>
          {%- block __cannot_delete_text -%}{%- endblock __cannot_delete_text -%}
        </strong></p>
    </div>
  </div>
{% endblock body %}
